{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <div class="row">
        <div class="offset-9 col-3 text-right">
            <a href="{{ path('phone_type_index') }}">Phone types</a>
        </div>
    </div>
    <table class="table table-striped table-sm table-">
        <thead>
        <tr>
            <th>Id</th>
            <th>Full name</th>
            <th>Phones</th>
            <th>Addresses</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.firstname }} {{ person.lastname }}</td>
                <td>
                    <ul>
                        {% for phone in person.phones %}
                            <li><a href="tel:{{ phone.phoneNumber }}">{{ phone.type.name }}: {{ phone.phoneNumber }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for address in person.addresses %}
                            <li>{{ address }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                    <form method="post" class="d-inline" action="{{ path('person_delete', {'id': person.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('person_new') }}" class="btn btn-lg btn-primary">Create new</a>
{% endblock %}
